case locale
	when 'us'
		- var home_title = 'Home'
		- var daily_title = 'Daily drill'
		- var weekly_title = 'Weekly drills'
		- var settings_title = 'Settings'
		- var donate_title = 'Donate'
		- var about_title = 'About'
	when 'fr'
		- var home_title = 'Accueil'
		- var daily_title = 'Exercice du jour'
		- var weekly_title = 'Exercices de la semaine'
		- var settings_title = 'Configuration'
		- var donate_title = 'Faire un don'
		- var about_title = 'A propos'
	when 'es'
		- var home_title = 'Inicio'
		- var daily_title = 'Ejercicio diario'
		- var weekly_title = 'Ejercicios de la semana'
		- var settings_title = 'Ajustes'
		- var donate_title = 'Dejar una moneda'
		- var about_title = 'Acerca'


case ref_page
	when 'home'
		img.active(src='/images/menu_home_hover.png', title=home_title, width='80px', height='80px')
		img.clickable(src='/images/menu_daily_active.png', title=daily_title, width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_active.png"')
		img.clickable(src='/images/menu_weekly_active.png', title=weekly_title, width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_active.png"')
		img.clickable(src='/images/menu_settings_active.png', title=settings_title, width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_active.png"')
		img.clickable(src='/images/menu_donate_active.png', title=donate_title, width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_active.png"')
		img.clickable(src='/images/menu_about_active.png', title=about_title, width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_active.png"')
	when 'daily'
		img.clickable(src='/images/menu_home_active.png', title=home_title, width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_active.png"'))
		img.active(src='/images/menu_daily_hover.png', title=daily_title, width='80px', height='80px')
		img.clickable(src='/images/menu_weekly_active.png', title=weekly_title, width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_active.png"')
		img.clickable(src='/images/menu_settings_active.png', title=settings_title, width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_active.png"')
		img.clickable(src='/images/menu_donate_active.png', title=donate_title, width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_active.png"')
		img.clickable(src='/images/menu_about_active.png', title=about_title, width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_active.png"')
	when 'weekly'
		img.clickable(src='/images/menu_home_active.png', title=home_title, width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_active.png"'))
		img.clickable(src='/images/menu_daily_active.png', title=daily_title, width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_active.png"')
		img.active(src='/images/menu_weekly_hover.png', width='80px', title=weekly_title, height='80px')
		img.clickable(src='/images/menu_settings_active.png', title=settings_title, width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_active.png"')
		img.clickable(src='/images/menu_donate_active.png', title=donate_title, width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_active.png"')
		img.clickable(src='/images/menu_about_active.png', title=about_title, width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_active.png"')
	when 'settings'
		img.clickable(src='/images/menu_home_active.png', title=home_title, width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_active.png"'))
		img.clickable(src='/images/menu_daily_active.png', title=daily_title, width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_active.png"')
		img.clickable(src='/images/menu_weekly_active.png', title=weekly_title, width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_active.png"')
		img.active(src='/images/menu_settings_hover.png', title=settings_title, width='80px', height='80px')
		img.clickable(src='/images/menu_donate_active.png', title=donate_title, width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_active.png"')
		img.clickable(src='/images/menu_about_active.png', title=about_title, width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_active.png"')
	when 'about'
		img.clickable(src='/images/menu_home_active.png', title=home_title, width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_active.png"'))
		img.clickable(src='/images/menu_daily_active.png', title=daily_title, width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_active.png"')
		img.clickable(src='/images/menu_weekly_active.png', title=weekly_title, width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_active.png"')
		img.clickable(src='/images/menu_settings_active.png', title=settings_title, width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_active.png"')
		img.clickable(src='/images/menu_donate_active.png', title=donate_title, width='80px', height='80px', onclick='window.location = "/donate"', onmouseover='this.src="/images/menu_donate_hover.png"', onmouseout='this.src="/images/menu_donate_active.png"')
		img.active(src='/images/menu_about_hover.png', title=about_title, width='80px', height='80px')
	when 'donate'
		img.clickable(src='/images/menu_home_active.png', title=home_title, width='80px', height='80px', onclick='window.location = "/"', onmouseover='this.src="/images/menu_home_hover.png"', onmouseout='this.src="/images/menu_home_active.png"'))
		img.clickable(src='/images/menu_daily_active.png', title=daily_title, width='80px', height='80px', onclick='window.location = "/daily"', onmouseover='this.src="/images/menu_daily_hover.png"', onmouseout='this.src="/images/menu_daily_active.png"')
		img.clickable(src='/images/menu_weekly_active.png', title=weekly_title, width='80px', height='80px', onclick='window.location = "/weekly"', onmouseover='this.src="/images/menu_weekly_hover.png"', onmouseout='this.src="/images/menu_weekly_active.png"')
		img.clickable(src='/images/menu_settings_active.png', title=settings_title, width='80px', height='80px', onclick='window.location = "/settings"', onmouseover='this.src="/images/menu_settings_hover.png"', onmouseout='this.src="/images/menu_settings_active.png"')
		img.active(src='/images/menu_donate_hover.png', title=donate_title, width='80px', height='80px')
		img.clickable(src='/images/menu_about_active.png', title=about_title, width='80px', height='80px', onclick='window.location = "/about"', onmouseover='this.src="/images/menu_about_hover.png"', onmouseout='this.src="/images/menu_about_active.png"')